{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block header %}
{% endblock header %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'notice:news_card' %}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content has-text-centered">
    <h4>{{ov.name}} マンション概要</h4>
    {% if perms.library.add_file %}
      <a href="{% url 'overview:overview_update' pk=ov.id %}">修正</a>
    {% endif %}
    <table class="table is-narrow is-responsible is-bordered">
      <tbody>
        <tr>
          <td class="has-text-left" rowspan="5">建物概要</td>
          <td class="has-text-left">建築確認認可年月</td>
          <td class="has-text-left">{{ov.kenchiku_kakunin}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">竣工年</td>
          <td class="has-text-left">{{ov.shunkou}} 年</td>
          <td class="has-text-left">総戸数</td>
          <td class="has-text-left">{{ov.soukosu}} 戸</td>
        </tr>
        <tr>
          <td class="has-text-left">構造</td>
          <td class="has-text-left">{{ov.kouzou}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">平置き駐車場</td>
          <td class="has-text-left">{{ov.flat_parking}} 台</td>
          <td class="has-text-left">機械式駐車場</td>
          <td class="has-text-left">{{ov.machine_parking}} 台</td>
        </tr>
        <tr>
          <td class="has-text-left">駐輪場</td>
          <td class="has-text-left">{{ov.bicycle_parking}} 台</td>
          <td class="has-text-left">バイク置場</td>
          <td class="has-text-left">{{ov.bike_parking}} 台</td>
        </tr>

        <tr>
          <td class="has-text-left" rowspan="6">面積等</td>
          <td class="has-text-left">敷地面積</td>
          <td class="has-text-left">{{ov.site_area|intcomma}} m2</td>
          <td class="has-text-left">容積率</td>
          <td class="has-text-left">{{ov.floor_area_ratio}} %</td>
        </tr>
        <tr>
          <td class="has-text-left">建築面積</td>
          <td class="has-text-left">{{ov.building_area|intcomma}} m2</td>
          <td class="has-text-left">建ぺい率</td>
          <td class="has-text-left">{{ov.building_coverage_ratio}} %</td>
        </tr>
        <tr>
          <td class="has-text-left">延べ床面積</td>
          <td class="has-text-left">{{ov.total_floor_area|intcomma}} m2</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">容積対象面積</td>
          <td class="has-text-left">{{ov.volume_target_area|intcomma}} m2</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">基準階階高</td>
          <td class="has-text-left">{{ov.standard_floor_height}} m</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">最高高さ</td>
          <td class="has-text-left">{{ov.max_height}} m</td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <td class="has-text-left" rowspan="4">法規制</td>
          <td class="has-text-left">用途地域</td>
          <td class="has-text-left">{{ov.youto_chiiki}}</td>
          <td class="has-text-left">指定容積率</td>
          <td class="has-text-left">{{ov.specified_floor_area_ratio}} %</td>
        </tr>
        <tr>
          <td class="has-text-left">防火地域</td>
          <td class="has-text-left">{{ov.bouka_chiiki}}</td>
          <td class="has-text-left">指定建ぺい率</td>
          <td class="has-text-left">{{ov.specified_building_coverage_ratio}} %</td>
        </tr>
        <tr>
          <td class="has-text-left">高度制限</td>
          <td class="has-text-left">{{ov.height_limit}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">必要駐車場台数</td>
          <td class="has-text-left">{{ov.required_parking}}</td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <td class="has-text-left" rowspan="4">設備概要</td>
          <td class="has-text-left">専有部給水設備</td>
          <td class="has-text-left">{{ov.private_water_equipment}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">共用部給水設備</td>
          <td class="has-text-left">{{ov.public_water_equipment}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">トランクルーム</td>
          <td class="has-text-left">{{ov.trunk_room}}</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="has-text-left">宅配ボックス</td>
          <td class="has-text-left">{{ov.delivery_box}}</td>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}