{% extends 'base_single_page.html' %}
{% load static %}
{% load humanize %}

{% block header %}
{% endblock header %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'notice:news_card' %}">【SG川崎】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class='navbar-item' href='javascript:void(0);' onclick='window.history.back();'>戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container">
  <div class="content has-text-centered">
    <br>
    <h4>住戸別の管理費等</h4>
  </div>
  <div class="table-container">
    <table class="table table_center_nowrap is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">住戸番号</th>
          <th class="has-text-centered">住戸タイプ</th>
          {% if perms.overview.add_room %}
            <th class="has-text-centered">区分所有者名</th>
            <th class="has-text-centered">賃借人名</th>
          {% endif %}
          <th class="has-text-centered">町内会費</th>
          <th class="has-text-centered">管理費等</th>
          <th class="has-text-centered">駐車場費</th>
          <th class="has-text-centered">駐輪場費</th>
          <th class="has-text-centered">バイク費</th>
          <th class="has-text-centered">合計</th>
        </tr>
      </thead>
      <tbody>
        {% for d in roomlist %}
        <tr>
          <td class="has-text-centered">{{d.room_no}}</td>
          <td class="has-text-centered">{{d.room_type}}</td>
          {% if perms.overview.add_room %}
            <td class="has-text-left nowrap"><a href="{% url 'overview:room_update' d.pk %}">{{d.owner}}</a></td>
            <td class="has-text-centered nowrap">{{d.tenant|default_if_none:"--"}}</td>
          {% endif %}
          {% if not d.chounaikai %}
            <td class="has-text-right">0</td>
          {% else %}
            <td class="has-text-right">{{membership_fee}}</td>
          {% endif %}
          <td class="has-text-right">{{d.total|intcomma}}</td>
          <td class="has-text-right">{{d.parking_fee|intcomma}}</td>
          <td class="has-text-right">{{d.bicycle_fee|intcomma}}</td>
          <td class="has-text-right">{{d.bike_fee|intcomma}}</td>
          <td class="has-text-right">{{d.total|add:d.parking_fee|add:d.bicycle_fee|add:d.bike_fee|add:270|intcomma}}</td>
        </tr>
        {% endfor %}
        <td></td>
        <td></td>
        {% if perms.overview.add_room %}
          <td></td>
          <td></td>
        {% endif %}
        <td class="has-text-right">{{total_membershipfee|intcomma}}</td>
        <td class="has-text-right">{{total|intcomma}}</td>
        <td class="has-text-right">{{total_parking|intcomma}}</td>
        <td></td>
        <td></td>
        <td class="has-text-right">{{total|add:total_parking|add:total_membershipfee|intcomma}}</td>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}