
# キャッシュ関係
*.pyc
__pycache__/

# ログ関係
*.log
logs/

# ローカルファイル関係
.DS_Store
.vscode/
tags

# 機密関係
.env
local_settings.py
local_compose.yml
*.sqlite3

# メディアファイルは巨大なためrsyncでバックアップする
media/
media/*.pdf

# 国際化は考慮しない
*.pot

