# キャッシュ関係
*.pyc
__pycache__/

# ログ関係
*.log
logs/

# ローカルファイル関係
.DS_Store
.vscode/
tags
venv/
0fuyou_*

# 機密関係
.env
.env_dev
*.sqlite3
local_settings.py
inputs/balance_sheets/*.html

# メディアファイルは巨大なためrsyncでバックアップする
media/
*.pdf
*.png

# 国際化は考慮しない
*.pot
