
/* 要素の横幅が指定範囲（親要素の幅など）を超えた場合に、自動的にスクロールバーを表示 */
/* .mobile_markdown {
  overflow-x: auto;
  margin:0px;
} */
/* 767px以下ではmargin-leftを4pxにする */
@media screen and (max-width: 767px) {
  .mobile_markdown {
    overflow-x: auto;
    margin-left:2px;
    padding:2px;
  }
}
/* 表の最小幅で表示させる。widthは適当。 */
.mobile_markdown table {
  border: dotted 1px;
  width: 30%;
  white-space: nowrap;
}
