
/* 要素の横幅が指定範囲（親要素の幅など）を超えた場合に、自動的にスクロールバーを表示 */
.markdown {
  overflow-x: auto;
  margin:0px;
}
/* 767px以下ではmargin-leftを4pxにする */
@media screen and (max-width: 767px) {
  .markdown {
    overflow-x: auto;
    margin-left:0px;
    padding:2px;
  }
}
.markdown table {
  /* 表の外枠表示 */
  border: dotted 1px;
  /* 表の最小幅で表示させる。倍率は適当。 */
  width: 30%;
  white-space: nowrap;
}
