{% extends 'common/base_single_page.html' %}
{% load static %}
{% load humanize %}

{% block head %}
{% endblock head %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'notice:news_card' %}">【SG川崎】</a>
    <a class="navbar-item" href="{% url 'overview:roomtype_list' %}">管理費等</a>
    <a class="navbar-item" href="{% url 'overview:pubinfo' %}">公開情報</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'notice:news_card' %}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="has-text-centered is-size-3 has-text-weight-bold">建物概要</div>
  <div class="box overview-box">
    <p class="heading">建築確認認可年月</p>
    <p class="title is-5">{{ ov.kenchiku_kakunin }}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">竣工年</p>
    <p class="title is-5">{{ov.shunkou}} 年</p>
  </div>
  <div class="box overview-box">
    <p class="heading">総戸数</p>
    <p class="title is-5">{{ov.soukosu}} 戸</p>
  </div>
  <div class="box overview-box">
    <p class="heading">構造</p>
    <p class="title is-5">{{ov.kouzou}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">平置き駐車場</p>
    <p class="title is-5">{{ov.flat_parking}} 台</p>
  </div>
  <div class="box overview-box">
    <p class="heading">機械式駐車場</p>
    <p class="title is-5">{{ov.machine_parking}} 台</p>
  </div>
  <div class="box overview-box">
    <p class="heading">駐輪場</p>
    <p class="title is-5">{{ov.bicycle_parking}} 台</p>
  </div>
  <div class="box overview-box">
    <p class="heading">バイク置き場</p>
    <p class="title is-5">{{ov.bike_parking}} 台</p>
  </div>
  <div class="has-text-centered is-size-3 has-text-weight-bold">面積等</div>
  <div class="box overview-box">
    <p class="heading">敷地面積</p>
    <p class="title is-5">{{ov.site_area|intcomma}} m2</p>
  </div>
  <div class="box overview-box">
    <p class="heading">容積率</p>
    <p class="title is-5">{{ov.floor_area_ratio}} %</p>
  </div>
  <div class="box overview-box">
    <p class="heading">建築面積</p>
    <p class="title is-5">{{ov.building_area|intcomma}} m2</p>
  </div>
  <div class="box overview-box">
    <p class="heading">建ぺい率</p>
    <p class="title is-5">{{ov.building_coverage_ratio}} %</p>
  </div>
  <div class="box overview-box">
    <p class="heading">延べ床面積</p>
    <p class="title is-5">{{ov.total_floor_area|intcomma}} m2</p>
  </div>
  <div class="box overview-box">
    <p class="heading">容積対象面積</p>
    <p class="title is-5">{{ov.volume_target_area|intcomma}} m2</p>
  </div>
  <div class="box overview-box">
    <p class="heading">基準階高さ</p>
    <p class="title is-5">{{ov.standard_floor_height|intcomma}} m</p>
  </div>
  <div class="box overview-box">
    <p class="heading">最高高さ</p>
    <p class="title is-5">{{ov.max_height|intcomma}} m</p>
  </div>
  <div class="has-text-centered is-size-3 has-text-weight-bold">法規制</div>
  <div class="box overview-box">
    <p class="heading">用途地域</p>
    <p class="title is-5">{{ov.youto_chiiki}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">指定容積率</p>
    <p class="title is-5">{{ov.specified_floor_area_ratio}} %</p>
  </div>
  <div class="box overview-box">
    <p class="heading">防火地域</p>
    <p class="title is-5">{{ov.bouka_chiiki}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">指定建ぺい率</p>
    <p class="title is-5">{{ov.specified_building_coverage_ratio}} %</p>
  </div>
  <div class="box overview-box">
    <p class="heading">高度制限</p>
    <p class="title is-5">{{ov.height_limit}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">必要駐車場台数</p>
    <p class="title is-5">{{ov.required_parking}}</p>
  </div>
  <div class="has-text-centered is-size-3 has-text-weight-bold">設備概要</div>
  <div class="box overview-box">
    <p class="heading">専有部給水設備</p>
    <p class="title is-5">{{ov.private_water_equipment}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">専有部縦排水管</p>
    <p class="title is-5">{{ov.private_drainage_equipment}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">共用部給水設備</p>
    <p class="title is-5">{{ov.public_water_equipment}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">共用部エントランス</p>
    <p class="title is-5">{{ov.entrance}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">防犯カメラ</p>
    <p class="title is-5">{{ov.security}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">トランクルーム</p>
    <p class="title is-5">{{ov.trunk_room}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">宅配ボックス</p>
    <p class="title is-5">{{ov.delivery_box}}</p>
  </div>
  <div class="box overview-box">
    <p class="heading">インターネット</p>
    <p class="title is-5">{{ov.network}}</p>
  </div>
</div>
  <br>
{% endblock %}
