{% extends "base_single_page.html" %}

{% block content %}
<div class="ss_container is-fluid ">
  <br>
  <div class="content has-text-centered">
    <h4>区分所有者 ログイン</h4>
  <br>
  <form method='post' action=''>
    {% csrf_token %}
    <table class="table">
    {{form}}
    </table>
    <br>
    <div>
      <button type="submit" name='next' value='{{next}}' class="button is-primary">ログイン</button>
      <a class="button is-warning" href="{% url 'notice:news_card' %}">戻る</a>
    </div>
  </form>
  </div>
</div>
{% endblock %}