{% extends "base_single_page.html" %}
{% load static %}
{% load mytag %}

{% block head %}
<link href="{% static 'register/menu.css' %}" rel="stylesheet">
{% endblock head%}

<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'notice:news_card' %}">ホーム</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="has-text-centered">
      <div class="title is-size-5"> ソフィア・ガーデンズ川崎 </div>
      <div class="subtitle is-size-6">管理組合 メニュー</div>
    </div>
  </div>
</section>
<br>
<div class="container with_mobile">
  <section class="sectionbox">
    <div class="is-size-5 has-text-weight-bold">
    <p>公開情報</p>
    </div>
    <br>
    <div class="columns">
      <div class="column">
        <div class="menubox has-text-centered">
          <a href="{% url 'overview:overview' %}" class="white_color">マンション概要</a>
        </div>
      </div>
      <div class="column">
        <div class="menubox has-text-centered">
          <a href="{% static 'pamphlet.pdf' %}" target="_blank" class="white_color">パンフレット</a>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="sectionbox">
    <div class="is-size-5 has-text-weight-bold">
    <p>管理組合専用(ログイン必要)</p>
    </div>
    <br>
    <div class="columns">
    {% if perms.library.view_file %}
      <div class="column">
        <div class="menubox has-text-centered">
          <a class="white_color" href="https://keijiban.sophiagardens.org" target="_blank">掲示板</a>
        </div>
      </div>
      <div class="column">
        <div class="menubox has-text-centered">
          <a class="white_color" href="https://calendar.sophiagardens.org" target="_blank">カレンダー</a>
        </div>
      </div>
    {% endif %}
      <div class="column">
        <div class="menubox has-text-centered">
          <a href="https://accounting.sophiagardens.org" target="_blank" class="white_color">会計資料</a>
        </div>
      </div>
      <div class="column">
        <div class="menubox has-text-centered">
          <a href="https://facility.sophiagardens.org" target="_blank" class="white_color">共用設備・修繕計画</a>
        </div>
      </div>
      <div class="column">
        <div class="menubox has-text-centered">
          <a href="{% url 'information:information' %}" class="white_color">インフォメーション</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
