{% extends "base.html" %}
{% load static %} {# {% staticを使うため必要 #}

{% block title %}
Accept
{% endblock title %}
{% block head %}
  <link href="{% static 'blog.css' %}" rel="stylesheet">
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【{{user}}】</a>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'register:mypage' %}">ホームに戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}
{% block content %}
<div class="container is-fluid ">
  <div class="content has-text-centered">
    <p>仮登録しました。本登録が完了しましたらメールを送ります。</p>
  </div>
</div>
{% endblock %}
