{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# favicon #}
  <link rel="icon" type="image/svg+xml" href="{% static 'common/favicon.svg' %}">
  <link rel="icon" href="{% static 'common/favicon.ico' %}" sizes="any">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/apple-touch-icon.png' %}">
  {# css #}
  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"> {% endcomment %}
  <link href="{% static 'common/mycss/custom-bulma.css' %}" rel="stylesheet">
  <link href="{% static 'common/mycss/mycss.css' %}" rel="stylesheet">
  {% comment %} <link href="{% static 'common/mycss/ipad.css' %}" rel="stylesheet"> {% endcomment %}

  <title>{% block title %}ソフィア・ガーデンズ川崎{% endblock %}</title>
  <script src="{% static 'common/js/navbar.js' %}" defer></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="site-wrapper">
    {% block navbar %}
    {% endblock%}
    <!-- ヘッダー（hero) -->
    {% block header %}
    {% endblock %}
    <!-- メインコンテンツ -->
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <!-- footerを設置 -->
    <footer class="my-footer">
      <div class="content has-text-centered is-size-7">
        &copy; {% now "Y" %} ソフィア・ガーデンズ川崎 管理組合 {{ VERSION_NO }}
      </div>
    </footer>
  </div>
</body>
</html>
