{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/static/common/favicon.ico"/>
  <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}/static/apple-touch-icon-precomposed.png">
  {# css #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link href="{% static 'common/mycss/mycss.css' %}" rel="stylesheet">

  <title>{% block title %}ソフィア・ガーデンズ川崎{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body class="has-navbar-fixed-top" >
  <div class="site-wrapper">
    {% block navbar %}
    {% endblock%}
    <!-- ヘッダー（hero) -->
    {% block header %}
    {% endblock %}
    <!-- footerを設置する場合、<main>で囲む -->
  <main>
    {% block content %}
    {% endblock %}
  </main>

    <footer class="my-footer">
      <div class="content has-text-centered is-size-7">
        &copy; {% now "Y" %} ソフィア・ガーデンズ川崎 管理組合 {{ VERSION_NO }}
      </div>
    </footer>
  
    {# 参考： https://bulma.io/documentation/components/navbar/ #}
    {# ToDo ハンバーガアイコン用のjs。staticから読み込むことはできないか？ #}
    <script>
        // notificationを×押下で閉じれるように。
      for (const element of document.querySelectorAll('.notification > .delete')) {
          element.addEventListener('click', e => {
              e.target.parentElement.classList.add('is-hidden');
          });
      }
      // navbar-burgerのボタン処理。https://bulma.io/documentation/components/navbar/
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
  </div>
</body>
</html>
