{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# favicon #}
  <link rel="icon" type="image/svg+xml" href="{% static 'common/favicon.svg' %}">
  <link rel="icon" href="{% static 'common/favicon.ico' %}" sizes="any">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/apple-touch-icon.png' %}">
  {# css #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link href="{% static 'common/mycss/mycss.css' %}" rel="stylesheet">
  <link href="{% static 'common/mycss/side_menu.css' %}" rel="stylesheet">

  <title>{% block title %}ソフィア・ガーデンズ川崎{% endblock %}</title>
  <script src="{% static 'common/js/navbar.js' %}" defer></script>
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="site-wrapper">
    {% block navbar %}
    {% endblock%}
    <!-- ヘッダー（hero) -->
    {% block header %}
    {% endblock %}
    <br>
    <!-- contents -->
    <div class="container is-fluid">
      <!-- footerを設置する場合、<main>で囲む -->
      <main>
        <div class="columns">
          <!-- 本体 -->
          <div class="column is-four-fifths ">
            {% block content %}
            {% endblock %}
          </div>
          <!-- 右サイド -->
          <div class="column">
            <div class="content">
              <table class="table table_nowrap is-bordered is-fullwidth">
                <thead>
                  <tr class="has-background-dark">
                    <th class="has-text-centered has-text-white">文書資料</th>
                  </tr>
                </thead>
                <tbody>
                  {% for menu in menu_list %}
                  <tr>
                    <td class="has-text-left">
                      <a href="{% url 'library:bigcategory' menu.pk %}" class="vmenu">{{menu}}</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <p>*：区分所有者専用</p>
            </div>
            <p>検索キーワード</p>
            <form method="GET" action="{% url 'library:search' %}">
              <input type="search" class="input" placeholder="Search" name="keyword" value={{keyword}}>
              <button type="submit" class="button is-small" style="display:none"></button>
            </form>
            <br>
            <p>
              <img src="{% static 'common/qr_code.png' %}" alt="URL" width="96" height="96">
            </p>
          </div>
        </div>
      </main>
    </div>
    <!-- フッタ -->
    <footer class="my-footer">
      <div class="content has-text-centered is-size-7">
        &copy; {% now "Y" %} ソフィア・ガーデンズ川崎 管理組合 {{ VERSION_NO }}
      </div>
    </footer>
</body>
</html>
