{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/static/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}/static/apple-touch-icon-precomposed.png">

  <style>
    .custom_container {
      padding: 6px;
      {% comment %} left-margin: 6px; {% endcomment %}
      {% comment %} right-margin: 6px; {% endcomment %}
    }
  </style>
  {# css #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  {% comment %} <link href="{% static 'bulma.min.css' %}" rel="stylesheet"> {% endcomment %}
  <link href="{% static 'common/mycss/mycss.css' %}" rel="stylesheet">
  {% comment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  {% endcomment %}
  <title>{% block title %}ソフィア・ガーデンズ川崎{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block navbar %}
  {% endblock%}

  <!-- ヘッダー（hero) -->
  {% block header %}
  {% endblock %}
  <br>
  <!-- contents -->
  <div class="container custom_container">
  {% comment %} <div class="container is-fluid"> {% endcomment %}
  <main>
    <div class="columns">
      <!-- 本体 -->
      <div class="column is-four-fifths ">
        {% block content %}
        {% endblock %}
      </div>
      <!-- 右サイド -->
      <div class="column">
        <div class="content">
          <table class="table table_nowrap is-bordered is-fullwidth">
          {% comment %} <table class="table table_nowrap is-bordered"> {% endcomment %}
            <thead>
              <tr class="has-background-dark">
                <th class="has-text-centered has-text-white">文書資料</th>
              </tr>
            </thead>
            <tbody>
              {% for menu in menu_list %}
              <tr>
                <td class="has-text-left">
                  <a href="{% url 'library:bigcategory' menu.pk %}" class="vmenu">{{menu}}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>*：区分所有者専用</p>
        </div>
        <p>検索キーワード</p>
        <form method="GET" action="{% url 'library:search' %}">
          <input type="search" class="input" placeholder="Search" name="keyword" value={{keyword}}>
          <button type="submit" class="button is-small" style="display:none"></button>
        </form>
        <br>
        <p>
          <img src="{% static 'qr_code.png' %}" alt="URL" width="96" height="96">
        </p>
      </div>
    </div>
  </main>
  </div>
  <!-- フッタ -->
  <footer class="my_footer">
    <div class="container">
      <div class="content has-text-centered">
        <span class="text-muted">
          &copy; 2016 -
          <script language="JavaScript" type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          ソフィア・ガーデンズ川崎 管理組合 Ver-{{VERSION_NO}}. by N.Goto
        </span>
      </div>
    </div>
  </footer>
</body>
</html>
      
{# 参考： https://bulma.io/documentation/components/navbar/ #}
{# ToDo ハンバーガアイコン用のjs。staticから読み込むことはできないか？ #}
<script>
// navbar-burgerのボタン処理。https://bulma.io/documentation/components/navbar/
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
