{% extends "base_single_page.html" %}

<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a href="{% url 'notice:news_card' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container">
  <br>
  <div class="content">
    <h4>お知らせ一覧</h4>
    <br>
    <a href="{% url 'notice:news_create' %}" class="button is-danger">新規作成</a>
    <a href="{% url 'notice:news_card' %}" class="button is-primary">戻る</a>
  </div>
  <br>
  <table class="table is-narrow">
    <thead>
      <tr>
        <th class="has-text-centered">タイトル</th>
        <th class="has-text-centered">表示</th>
        <th class="has-text-centered">#</th>
      </tr>
    </thead>
    <tbody>
      {% for news in news_list %}
      <tr>
        <td class="has-text-left">{{ news.title}}</td>
        <td class="has-text-center">{{ news.display_news }}</td>
        <td class="nowrap">
          <a href="{% url 'notice:news_update' news.pk %}" class="button is-size-7">更新</a>
          <a href="{% url 'notice:news_delete' news.pk %}" class="button is-size-7">削除</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'page.html' %}
</div>
{% endblock %}