{% extends "base.html" %}
{% load static %}
{% load mytag %}

{% block head %}
  <link href="{% static 'mycss/my_markdown.css' %}" rel="stylesheet">
{% endblock head%}

<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{DRBUG}}
    {% if DEBUG %}
      <div class="navbar-item">{{user}}</div>
    {% else %}
      <div class="navbar-item">【SG川崎】</div>
    {% endif %}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'register:menu' %}">管理組合メニュー</a>
      <a class="navbar-item" href="{% url 'overview:overview' %}">マンション公開情報</a>
      {% if perms.library.view_file %}
        {% comment %} <a class="navbar-item" href="https://calendar.sophiagardens.org" target="_blank">カレンダー</a> {% endcomment %}
        <a class="navbar-item" href="https://keijiban.sophiagardens.org" target="_blank">掲示板</a>
      {% endif %}
    </div>
    <div class="navbar-end">
      {% if perms.notice.add_news %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-6">管理者用</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'notice:news_list' %}">トップ画面の編集</a>
            {% if perms.library.add_file %}
              <div class="navbar-divider"></div>
              <a class="navbar-item" href="{% url 'library:big_category_index' %}">文書ファイル登録・修正</a>
              <a class="navbar-item" href="{% url 'information:info_list' %}">マンション情報の編集</a>
              <a class="navbar-item" href="{% url 'control:backupDB' %}">DBバックアップ</a>
            {% endif %}
            {% if perms.register.add_user %}
              <div class="navbar-divider"></div>
              <a class="navbar-item" href="{% url 'register:user_list' %}">ユーザ一覧</a>
              <a class="navbar-item" href="{% url 'control:control_list' %}">コントロールデータ修正</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if not user.id %}
        <a class="navbar-item" href="{% url 'register:login' %}">ログイン</a>
      {% else %}
        <form method="post" class="navbar-item" action="{% url 'register:logout' %}">
          {% csrf_token %}
          <button type="submit">ログアウト</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block header %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="has-text-centered">
      <div class="title">ソフィア・ガーデンズ川崎 </div>
      <div class="subtitle">管理組合 ホームページ</div>
    </div>
  </div>
</section>
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock header %}

{% block content %}
{% for news in news_list %}
<div class="card content">
  <header class="card-header">
    <div class="card-header-title has-background-dark has-text-white">{{news.title}}</div>
  </header>
  <p>{{ news.created_at | date }}</p>
  <div class="card-content markdown table is-bordered">
    {{news.comment | markdown_to_html}}
  </div>
</div>
<br>
{% endfor %}
{% include 'page.html' %}
{% endblock %}
