{% extends "base_single_page.html" %}
{% block file_page %}active{% endblock %}
{% block content %}
<div class="container">
  <br>
  <div class="content has-text-centered">
    <h4>お知らせの入力/更新</h4>
  </div>
  <form action="" method="POST" enctype='multipart/form-data'>
    <div class="content">
      <table class="table">
        {{form}}
      </table>
    </div>
    {% csrf_token %}
    <div class="has-text-centered">
      <button type="submit" class="button is-danger" value="send" name="action">送信する</button>
      <button type="submit" class="button is-danger" value="send_more" name="action">送信してもう1つ追加</button>
      <a class="button is-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
  </form>
</div>
{% endblock %}