{% extends "common/base.html" %}
{% load static %}

<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'notice:news_card' %}">【SG川崎】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMypage">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMypage" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'notice:news_card' %}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block header %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="has-text-centered">
      <div class="title"> ソフィア・ガーデンズ川崎 </div>
      <div class="subtitle"> 管理組合 電子データ </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
{# 検索結果をリスト表示する #}
<table class="table table-sm table-striped table-bordered table-responsive-sm mx-auto">
  <thead>
    <tr class="bg-dark text-white">
      <th class="w-20 text-center">文書名</th>
      <th class="w-80 text-center">概要</th>
    </tr>
  </thead>
  <tbody>
    {% for file in file_list %}
    <tr>
      <td class="text-left"><a href="{{file.src.url}}" target="_blank">{{file.title}}</a></td>
      <td class="text-left">{{file.summary|linebreaksbr|urlize}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "common/page.html" %}
{% endblock %}