{% extends "base_single_page.html" %}
{% load static %}
{% load mytag %}

{% block head %}
<link href="{% static 'mycss/wh2.css' %}" rel="stylesheet">
{% endblock head%}

<!-- navbar -->
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'notice:news_card' %}">ホーム</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a href="{% url 'notice:news_card' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock %}

<!-- content -->
{% block content %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"> ソフィア・ガーデンズ川崎 </h1>
      <h4 class="subtitle">管理組合 インフォメーション</h4>
    </div>
  </div>
</section>

<div class="container with_mobile">
  <div class="content">
    {% for item in information_list %}
    <p>
      <h4>{{ item.title }}</h4>
      <p>{{item.created_at|date}}</p>
      {{item.information| markdown_to_html}}
    </p>
    <hr>
    {% endfor %}
    {% include 'page.html' %}
    <br>
  </div>
</div>
{% endblock %}