{% extends "base_single_page.html" %}
{% block navbar %}
<!-- navbar -->
{% endblock navbar %}
{% block content %}
<div class="md_container">
  <br>
  <form action="" method="POST" enctype='multipart/form-data'>
    <div class="content">
      <table class="table is-narrow">
        {{form}}
      </table>
    </div>
    {% csrf_token %}
    <div class="content has-text-centered">
      <button type="submit" class="button is-primary" value="send" name="action">送信する</button>
      <button type="submit" class="button is-primary" value="send_more" name="action">送信してもう1つ追加</button>
      <a class="button is-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
  </form>
</div>
{% endblock %}