{% load static %}
{% load mytag %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link href="{% static 'mycss/mycss.css' %}" rel="stylesheet">
  <link href="{% static 'mycss/my_markdown.css' %}" rel="stylesheet">
  <link href="{% static 'information/weasyprint.css' %}" rel="stylesheet">
{% endblock head%}

<!-- navbar -->
{% block navbar %}
{% endblock %}

<!-- content -->
{% block content %}
<div class="container page_style">
  <div class="card content">
    <header class="card-header">
      <p class="card-header-title">
        {{target.title}}
      </p>
    </header>
    {{target.created_at|date}}
    <div class="card-content markdown table is-size-7 is-bordered is-narrow">
      {{target.information| markdown_to_html}}
    </div>
  </div>
</div>
{% endblock %}