a.black_color {
  color : black;
  display: block;
  }
a.white_color {
  color : white;
  display: block;
  }
/*
 ファイル登録画面用
 768px以上では強制的に60%にする。
*/
@media screen and (min-width: 768px) {
  .form_container {
    width: 60%;
    margin: auto;
  }
}

/* infomation_list.htmlでセクション毎に枠表示する */
.is_infomation {
  border: solid 1px;
  margin-top: 2px;
  margin-left: 10px;
  padding: 10px;
  position: relative;
}
