/* warehouseではテーブル表示を画面に納めるため、normalを指定。 */
table{
  width: auto;
  margin: 3px;
  white-space: normal;
}

a.black_color {
  color : black;
  display: block;
  }

a.white_color {
  color : white;
  display: block;
  }

.sectionbox {
  border: none;
  margin-top: 2px;
  margin-left: 10px;
  padding: 20px;
  position: relative;
}