{% extends "common/base.html" %}
{% block content %}
<br>
<div class="container is-fluid">
  <div class="content has-text-centered">
    <h3>{{user.username}}</h3>
  </div>
  <form method='POST' enctype='multipart/form-data' id='form_style'>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class='field'>
        <div class='control'>
          <div class='label'>{{ field.label_tag }}</div>
          <div class='my_field'>{{ field }}</div>
          {% if field.help_text %}
            <span class='helptext'>{{ field.help_text }}</span>
          {% endif %}
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <br>
    <div class='my_button has-text-centered'>
      <button type='submit' class='button is-primary'>登録</button>
      <a class='button is-danger' href='javascript:void(0);' onclick='window.history.back();'>キャンセル</a>
    </div>
  </form>
</div>
<br>
{% endblock %}